node_modules/
.next/
out/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env
.env
.env.*
!.env.example

# runtime env (gerado no start do ambiente)
public/env.js

# scripts build output
scripts-dist/


